@using Microsoft.AspNetCore.Identity
@using TRBabyShop.Infrastructure.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Manage">Hello @User.Identity?.Name</a>
    </li>
   <li class="nav-item">
            <form class="form-inline" asp-area="Users" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="nav-link btn btn-primary text-dark">Logout</button>
            </form>
        </li>
}
else
{
     <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
}
</ul>
