@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-dark text-center">Order Placed Successfully!</h1>
        <div class="col-12 text-center" style="color:black">
            Your Order Number is : @Model <br /><br />
        </div>
       
         <img src="https://img.freepik.com/free-vector/cute-cool-baby-holding-teddy-bear-doll-cartoon-vector-icon-illustration-people-holiday-isolated_138676-5356.jpg?w=740&t=st=1671213542~exp=1671214142~hmac=caf8a482b03ccd05437a007c9d2f15afbee22db1ff15526b69d98f1771113e7d" width="65%" />@*
        <img src="https://www.zipeit.com/images/place-circle.png" width="65%" />*@
    </div>
    <div class="col-12 text-center" style="color:black">
        <br />
        Your order has been placed successfully! <br />

    </div>
</div> 