@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        <div class="col-12 text-center" style="color:deepskyblue">
            Your Order Number is : @Model <br /><br />
        </div>
        <img src="https://www.zipeit.com/images/place-circle.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:deepskyblue">
        <br />
        Your order has been placed successfully! <br />

    </div>
</div> 