@using TRBabyShop.Core.Models
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Welcome to TR Baby Shop";
}

<h1 class="text-center">@ViewBag.Title</h1>
<h2 class="text-center">Everything for your baby</h2>

<div class="bg-image" 
     style="background-image: url('https://img.freepik.com/free-vector/detailed-baby-logo-template_23-2148780976.jpg?w=740&t=st=1671214436~exp=1671215036~hmac=376c18b46f363091ce250f9eb2dc65e231b7a0828919a6e24a362251ee8b1f40');
             height: 100vh">
</div>
