@using TRBabyShop.Core.Models
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="mb-5"></div>*@

<div class="bg-image" 
     style="background-image: url('https://thumbs.dreamstime.com/z/baby-shop-banner-template-kids-store-badge-newborn-symbols-seamless-pattern-vector-illustration-web-design-153996974.jpg');
             height: 100vh">
</div>
@*
<div class="wrapper">
    <div class="text-center">
        <h1 class="display-4">Welcome to TR Baby Shop</h1>
        <p>Everything for your baby</p>



        <div class="card">
            .


            <figure class="card__thumbnail">
                <img src="https://thumbs.dreamstime.com/z/baby-shop-banner-template-kids-store-badge-newborn-symbols-seamless-pattern-vector-illustration-web-design-153996974.jpg">
            </figure>
        </div>

    </div>
</div>*@

