@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TR Baby Shop</h1>
    <p>Everything for your baby</p>



    <div class="wrapper">

        <!-- Using an img TAG -->
        <div class="card">
            <!-- The background image -->
            <figure class="card__thumbnail">
                <img src="https://media.istockphoto.com/id/1164299861/vector/kids-shop-promo-signs-series-of-colorful-vector-design-templates-with-outlined-childish-toy.jpg?s=1024x1024&w=is&k=20&c=f9MzqOkS5iUsYgDDIY2uDJrbA6s1xhh6nwMcuI-aS98=">
            </figure>
        </div>

    </div>
</div>